<div class="page">
  <div class="sidebar">
    <div class="sidebar-header">
      <h1 class="sidebar-header-h1">DataShare</h1>
    </div>

    <div class="sidebar-content">
      <div class="menu-item">
        <span>Mes fichiers</span>
      </div>
    </div>
    <div class="sidebar-footer">
      <span>Copyright DataShare© 2025</span>
    </div>
  </div>

  <div class="main-content">
    <div class="content-header">
      <div class="content-header-button">
        <button>Ajouter des fichiers</button>
        <button>
          <img src="LogOut.svg" alt="" width="16" height="16" (click)="logout()" />Deconnexion
        </button>
      </div>
    </div>
    <div class="content-item">
      <h2>Mes fichier</h2>
      <div class="item-tag"></div>
      <div class="file-table"></div>
    </div>
  </div>
</div>
