<div class="card">
  <h5 class="card-header">Connexion</h5>
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      @if (errorMessage) {
        <div class="alert alert-danger" role="alert">{{ errorMessage }}</div>
      }

      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          placeholder="Saisissez votre email..."
          formControlName="login"
          class="login-input"
          autocomplete="username"
          [ngClass]="{ 'is-invalid': submitted && form['login'].errors }"
        />
        @if (submitted && form['login'].errors?.['required']) {
          <div class="invalid-feedback">L’email est obligatoire.</div>
        }
        @if (submitted && form['login'].errors?.['email']) {
          <div class="invalid-feedback">Veuillez saisir une adresse email valide.</div>
        }
      </div>

      <div class="form-group">
        <label for="password">votre mot de passe</label>
        <input
          id="password"
          type="password"
          placeholder="Saisissez votre mot de passe..."
          formControlName="password"
          class="login-input"
          autocomplete="current-password"
          [ngClass]="{ 'is-invalid': submitted && form['password'].errors }"
        />
        @if (submitted && form['password'].errors?.['required']) {
          <div class="invalid-feedback">Password is required</div>
        }
      </div>

      <div class="button-center">
        <a class="login-button" routerLink="/register">Créer un compte</a>
        <button class="login-button" type="submit">connexion</button>
      </div>
    </form>
  </div>
</div>
