<div class="card">
  <h5 class="card-header">Connexion</h5>
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="login"
          type="email"
          placeholder="Saisissez votre email..."
          formControlName="login"
          class="login-input"
          autocomplete="username"
          [ngClass]="{ 'is-invalid': submitted && form['login'].errors }"
        />
        <div class="error-container">
          @if (submitted && form['login'].errors?.['required']) {
            <div class="error-message">L’email est obligatoire.</div>
          }
          @if (submitted && form['login'].errors?.['email']) {
            <div class="error-message">Veuillez saisir une adresse email valide.</div>
          }
        </div>
      </div>

      <div class="form-group">
        <label for="password">votre mot de passe</label>
        <input
          id="password"
          type="password"
          placeholder="Saisissez votre mot de passe..."
          formControlName="password"
          class="login-input"
          autocomplete="current-password"
          [ngClass]="{ 'is-invalid': submitted && form['password'].errors }"
        />
        <div class="error-container">
          @if (submitted && form['password'].errors?.['required']) {
            <div class="error-message">Password is required</div>
          }
        </div>
      </div>

      <div class="button-center">
        <a class="login-button" routerLink="/register">Créer un compte</a>
        <button class="login-button" type="submit">connexion</button>
      </div>
    </form>
  </div>
</div>
