<div class="card">
  <h5 class="card-header">Créer un compte</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="login"
          type="email"
          placeholder="Saisissez votre email..."
          formControlName="login"
          class="login-input"
          autocomplete="username"
          [ngClass]="{ 'is-invalid': submitted && form['login'].errors }"
        />
        <div class="error-container">
          @if (submitted && form['login'].errors?.['required']) {
            <div class="error-message">L’email est obligatoire.</div>
          }
          @if (submitted && form['login'].errors?.['email']) {
            <div class="error-message">Veuillez saisir une adresse email valide.</div>
          }
        </div>
      </div>

      <div class="form-group">
        <label for="password">votre mot de passe</label>
        <input
          id="password"
          type="password"
          placeholder="Saisissez votre mot de passe..."
          formControlName="password"
          class="login-input"
          autocomplete="current-password"
          [ngClass]="{ 'is-invalid': submitted && form['password'].errors }"
        />
        <div class="error-container">
          @if (submitted && form['password'].errors?.['required']) {
            <div class="error-message">Le mot de passe est requis.</div>
          }
          @if (submitted && form['password'].errors?.['minlength']) {
            <div class="error-message">Mot de passe : minimum 8 caractères.</div>
          }
        </div>
      </div>

      <div class="form-group">
        <label for="repassword">Verification du mot de passe</label>
        <input
          id="repassword"
          type="password"
          placeholder="Saisissez le a nouveau"
          formControlName="repassword"
          class="login-input"
          autocomplete="current-password"
          [ngClass]="{
            'is-invalid':
              submitted && (form['repassword'].errors || registerForm.hasError('passwordMismatch')),
          }"
        />
        <div class="error-container">
          @if (submitted && form['repassword'].errors?.['required']) {
            <div class="error-message">Veuillez confirmer votre mot de passe.</div>
          }
          @if (submitted && registerForm.hasError('passwordMismatch')) {
            <div class="error-message">Les mots de passe doivent être identiques.</div>
          }
        </div>
      </div>

      <div class="button-center">
        <a class="login-button" routerLink="/login">Jai deja un compte</a>
        <button class="login-button" type="submit">Creer mon compte</button>
      </div>
    </form>
  </div>
</div>
